			<div id="sidebar" class="sidebar responsive">

				<div class="sidebar-shortcuts" id="sidebar-shortcuts">
					<div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
						<button class="btn btn-success">
							<i class="ace-icon fa fa-signal"></i>
						</button>

						<button class="btn btn-info">
							<i class="ace-icon fa fa-pencil"></i>
						</button>

						<!-- #section:basics/sidebar.layout.shortcuts -->
						<button class="btn btn-warning">
							<i class="ace-icon fa fa-users"></i>
						</button>

						<button class="btn btn-danger">
							<i class="ace-icon fa fa-cogs"></i>
						</button>

						<!-- /section:basics/sidebar.layout.shortcuts -->
					</div>

					<div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
						<span class="btn btn-success"></span>

						<span class="btn btn-info"></span>

						<span class="btn btn-warning"></span>

						<span class="btn btn-danger"></span>
					</div>
				</div><!-- /.sidebar-shortcuts -->

				<ul class="nav nav-list">
<php>
use Common\Controller\AuthController;
use Think\Auth;
$leftnav=M('adminnav');
$leftnav_0=$leftnav->where(array('adminnav_leftid'=>0,'adminnav_open'=>1))->select();
$auth = new Auth();
p($leftnav_0);die;
</php>

<foreach name="leftnav_0" item="v">
					<li class="<if condition="CONTROLLER_NAME eq $v['adminnav_url']">active open</if>"><!--open代表打开状态-->
						<a href="#" class="dropdown-toggle">
							<i class="menu-icon fa {$v.adminnav_css}"></i>
							<span class="menu-text">
								{$v.adminnav_title}
							</span>

							<b class="arrow fa fa-angle-down"></b>
						</a>

						<b class="arrow"></b>

						<ul class="submenu">
    <php>
    $leftnav=M('adminnav');
    $leftnav_1=$leftnav->where(array('adminnav_leftid'=>$v['adminnav_id'],'adminnav_open'=>1))->select();
    </php>
    <foreach name="leftnav_1" item="j">
							<li class="<if condition="($_COOKIE['s'] eq $j['adminnav_id'])">active</if>">
								<a href="{:U(''.$v['adminnav_url'].'/'.$j['adminnav_url'],array('s'=>$j['adminnav_id']))}">
									<i class="menu-icon fa fa-caret-right"></i>
									{$j.adminnav_title}
								</a>
								<b class="arrow"></b>
							</li>
	</foreach>
						</ul>
					</li>
</foreach>
                    
				</ul><!-- /.nav-list -->

				<!-- #section:basics/sidebar.layout.minimize -->
				<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
					<i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
				</div>

				<!-- /section:basics/sidebar.layout.minimize -->
				<script type="text/javascript">
					try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
				</script>
			</div>
